@import 'fonts';


// Variables
$primary: #5f0e38;
$secondary: #FF86B7;
$text-dark: #333;
$text-medium: #666;
$text-light: #888;
$border-color: #ddd;
$success-color: #28a745;
$white: #fff;


// Import Bootstrap with our variables
@import "bootstrap/bootstrap";

@mixin transition($properties...) {
  transition: $properties;
}

// Body styles
html, body {
  height: 100%;
  width: 100%
}

body {
  font-family: "Manrope", sans-serif;
  background: $primary;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
}

// Subscription container
.subscription-container {
  max-width: 520px;
}

.info-form {
  margin: auto;
  max-width: 700px;
  @media screen and (max-width: 700px) {
    padding: 2rem;
  }
}

// Form controls
#formSection {
  .form-elements {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
  }

  .form-control {
    border-radius: 0;
    width: 20rem;
    padding: 0.8125rem 0.75rem 0.8125rem 1rem;
    @include transition(border-color 0.2s);
    &:focus {
      //border-color: $primary-gradient-start;
      box-shadow: 0 0 0 0.2rem rgba(102, 126, 234, 0.25);
    }
  }

  .name-control {
    max-width: 15rem;
    @media screen and (max-width: 700px) {
    max-width: 21.4rem;

    }
  }

  .email-control {
    display: flex;
    gap: 0;

    .form-control {
      max-width: 15rem;

    }
  }
}

// Primary button
button#submitBtn {
  background: $secondary;
  border: none;
  border-radius: 0;
  color: $primary;
}

.btn {

}

.btn-primary {

  &:hover {
  }

  &:disabled {
    opacity: 0.6;
    transform: none;
  }
}

// Hint text
.hint {
  text-align: center;
  color: $text-light;
  font-size: 14px;
  margin-top: 20px;
}

// Success message
.success-message {
  h2 {
    font-family: "Manrope", sans-serif;
  }

  position: absolute;
  top: 0;
  display: none;
  text-align: center;
  padding: 20px;

  &.show {
    display: block;
  }

  h2 {
    color: $secondary;
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    color: $text-medium;
    font-size: 16px;
  }
}

// Spinner
.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 0.15em;
}


/* Info Group*/
/* Info Group*/
.info-group {
  text-align: center;
  max-width: 45rem;

  .title {
    @include nyght-serif(); // Default to regular weight
    color: #FF86B7;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 6.5rem;
    letter-spacing: 0.5rem;
    @media screen and (min-width: 1200px) {
      font-size: 8.5rem;
    }
  }

  .subtitle {
    @include nyght-serif(); // Default to regular weight
    color: $secondary;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.7rem 0;
  }

  .lead {
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-family: "Manrope", sans-serif;


    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.75rem; /* 140% */
  }
}

.banner {
  font-family: "Manrope", sans-serif;
  background-color: $secondary;

  p, h6 {
    color: $primary
  }

  bottom: 0;
  width: 100%;
  padding: 3rem;

  @media screen and (min-width: 1000px) {
    //position: absolute;

  }
}
